<h1>Course Planner</h1>

<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
    $("#hint a").tooltip()
</script>

<%= render partial: 'course_listing', object: @courses %>

<div class="row">
  <div class="col-md-8">
    <%= calendar @date do |date| %>
      <%= date.day %>
    <% end %>
  </div>
</div>

