<h1>Course Planner</h1>

<%= render partial: 'course_listing', object: @courses %>

<div class="row">
  <div class="col-md-8">
    <%= calendar @date do |date| %>
      <%= date.day %>
    <% end %>
  </div>
</div>

