<h1>Course Planner</h1>

<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
    $("#hint a").tooltip()

    load_lectures_into_calendar()
</script>

<%= render partial: 'course_listing', object: @courses %>

<div class="row">
  <div class="col-md-8">
    <%= calendar %>
  </div>
</div>

<h1>Program Requirements</h1>
<%= render partial: "programs", collection: @programs%>
